@using CaptchaMvc
@using CaptchaMvc.HtmlHelpers
@using WebBanHang.Models
@model ThanhVien

@{
    ViewBag.Title = "DangKy";
    Layout = "~/Views/Layout/ProductLayout.cshtml";
    if (ViewBag.ThongBao3 != null)
    {
        <script> alert("@ViewBag.ThongBao3")</script>
    }
}
<div class="container">
    <div class=" register">
        <h1>ĐĂNG KÝ THÀNH VIÊN</h1>
        
        @using (Html.BeginForm())
        {
            <div class="col-md-6 register-top-grid">
                <h3>THÔNG TIN CÁ NHÂN</h3>
                <div>
                    <span>Họ tên</span>
                    @Html.TextBox("HoTen")
                </div>
                <div>
                    <span>Địa chỉ</span>
                    @Html.TextBox("DiaChi")
                </div>
                <div>
                    <span>Email</span>
                    @Html.TextBox("Email")
                </div>
            </div>
            <div class="col-md-6 register-bottom-grid register-top-grid ">
                <h3>Thông tin đăng nhập</h3>
                <div>
                    <span>Tài khoản</span>
                    @Html.TextBox("TaiKhoan")
                    @{
                        if (ViewBag.ThongBao1 != null)
                        {
                            <h5 style="color:red;">@ViewBag.ThongBao1</h5>
                        }
                    }

                </div>
                <div>
                    <span>Mật khẩu</span>
                    @Html.Password("MatKhau")
                </div>
                <div>
                    <span>Xác nhận mật khẩu</span>
                    @Html.Password("NhapLaiMatKhau")
                </div>
                <div>
                    @Html.MathCaptcha()
                    @{
                        if (ViewBag.ThongBao2 != null)
                        {
                            <h5 style="color:red;">@ViewBag.ThongBao2</h5>
                        }
                    }
                </div>
                <input type="submit" value="Đăng ký">

            </div>
            <div class="clearfix"></div>
        }
    </div>
</div>