@using WebBanHang.Models

@model PagedList.IPagedList<SanPham>
@using PagedList.Mvc;
@{
    ViewBag.Title = "SanPhamByLoai";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}

<style type="text/css">
    th {
        text-align: center
    }
</style>
<h2>DANH SÁCH SẢN PHẨM</h2>
<hr />
@Html.ActionLink("Thêm mới", "Them", "QuanLySanPham", new { @class = "btn btn-default" })
<br />
<br />
@using (Html.BeginForm())
{
    <p alight="center">
        Tìm kiếm: @Html.TextBox("tim")
        <input type="submit" value="Tìm" />
    </p>
}
<br />
<table style="width: 100%" class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>STT</th>
            <th style="width: 180px">Tên SP</th>
            <th style="width: 100px">Đơn giá</th>
            <th>Ngày cập nhật</th>
            <th>Hình ảnh</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.MaSP</td>
                <td>@item.TenSP</td>
                <td>@String.Format("{0:0,0 VNĐ}", @item.DonGia)</td>
                <td>@item.NgayCapNhap</td>
                <td>
                    @{
                        string ImagePath = "~/Content/HinhAnhSP/" + item.HinhAnh;
                    }
                    <img src="@Url.Content(ImagePath)" alt="" width="250" height="180" />
                </td>
                <td>
                    @Html.ActionLink("Chi tiết", "ChiTiet", new { id = item.MaSP }, new { @class = "btn btn-default" })
                    @Html.ActionLink("Sửa", "Sua", new { id = item.MaSP }, new { @class = "btn btn-default" })
                    @*@Html.ActionLink("Xóa", "XoaMem", new { id = item.MaSP }, new  { @class = "btn btn-default" })*@
                    <a href="@Url.Action("XoaMem", "QuanLySanPham", new { id = item.MaSP})" class="btn btn-default" onclick="return window.confirm('Bạn có chắc muốn xóa?')">Xóa</a>
                </td>
            </tr>

        }
    </tbody>
</table>
<div class="dlink">
    Trang @(Model.PageCount < Model.PageNumber ? 0 :Model.PageNumber)/@Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("SanPhamByLoai", new { page = page, @MaLoaiSP = ViewBag.MaLoaiSP }))
</div>

