@model WebBanHang.Models.SanPham

@{
    ViewBag.Title = "Them";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}

<div class="col-md-12">
    <div class="panel panel-primary">
        <div class="panel-heading">Add Product</div>
        <div class="panel-body">
            @using (Html.BeginForm("Them", "QuanLySanPham", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {

                <!--row-->
                <div class="row" style="margin-top:5px;">
                    <div class="col-md-2">Tên sản phẩm</div>
                    <div class="col-md-10">
                        <input type="text" name="tensp" class="form-control" required />
                    </div>
                </div>
                <!--end row-->
                <!--row-->
                <div class="row" style="margin-top:5px;">
                    <div class="col-md-2">Loại sản phẩm</div>
                    <div class="col-md-10">
                        @Html.DropDownList("MaLoaiSP", null, "--Select--", htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
                <!--end row-->
                <!--row-->
                <div class="row" style="margin-top:5px;">
                    <div class="col-md-2">Nhà cung cấp</div>
                    <div class="col-md-10">
                        @Html.DropDownList("MaNCC", null, "--Select--", htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
                <!--end row-->
                <!--row-->
                <div class="row" style="margin-top:5px;">
                    <div class="col-md-2">Nhà sản xuất</div>
                    <div class="col-md-10">
                        @Html.DropDownList("MaNSX", null, "--Select--", htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
                <!--end row-->
                <!--row-->
                <div class="row" style="margin-top:5px;">
                    <div class="col-md-2">Đơn giá</div>
                    <div class="col-md-10">
                        <input type="text" name="dongia" class="form-control" />
                    </div>
                </div>
                <!--end row-->
                <!--row-->
                <div class="row" style="margin-top:5px;">
                    <div class="col-md-2">Ngày cập nhật</div>
                    <div class="col-md-10">
                        <input type="datetime" name="ngaycapnhap" class="form-control" />
                    </div>
                </div>
                <!--end row-->
                <!--row-->
                <div class="row" style="margin-top:5px;">
                    <div class="col-md-2">Cấu hình</div>
                    <div class="col-md-10">
                        <input type="text" name="cauhinh" class="form-control" />
                    </div>
                </div>
                <!--end row-->
                <!--row-->
                <div class="row" style="margin-top:5px;">
                    <div class="col-md-2">Mô tả</div>
                    <div class="col-md-10">
                        <textarea name="mota" id="mota" class="form-control" style="height:150px;"></textarea>
                    </div>
                </div>
                <!--end row-->
                <!--row-->
                <div class="row" style="margin-top:5px;">
                    <div class="col-md-2">Hình ảnh</div>
                    <div class="col-md-10">
                        <img id="output" class="img-rounded" alt="Ảnh SP" width="180" height="200" src="~/Content/HinhAnhSP/h0.png" />
                        <p><label for="ifile" style="cursor:pointer; border:1px solid #d0cdcd; padding: 5px; margin-left:40px;">Chọn file ảnh</label></p>
                        <input id="ifile" type="file" name="hinhanh" style="display:none;" class="form-control" onchange="loadFile(event)" />
                    </div>
                </div>
                <!--end row-->
                <!--row-->
                <div class="row" style="margin-top:5px;">
                    <div class="col-md-2">Số lượng tồn</div>
                    <div class="col-md-10">
                        <input type="text" name="soluongton" class="form-control" />

                    </div>
                </div>
                <!--end row-->
                <!--row-->
                <div class="row" style="margin-top:5px;">
                    <div class="col-md-2">Lượt xem</div>
                    <div class="col-md-10">
                        <input type="text" name="luotxem" class="form-control" value="0" disabled/>

                    </div>
                </div>
                <!--end row-->
                <!--row-->
                <div class="row" style="margin-top:5px;">
                    <div class="col-md-2">Lượt bình chọn</div>
                    <div class="col-md-10">
                        <input type="text" name="luotbinhchon" class="form-control" value="0" disabled/>

                    </div>
                </div>
                <!--end row-->
                <!--row-->
                <div class="row" style="margin-top:5px;">
                    <div class="col-md-2">Lượt bình luận</div>
                    <div class="col-md-10">
                        <input type="text" name="luotbinhluan" class="form-control" value="0" disabled />

                    </div>
                </div>
                <!--end row-->
                <!--row-->
                <div class="row" style="margin-top:5px;">
                    <div class="col-md-2">Số lần mua</div>
                    <div class="col-md-10">
                        <input type="text" name="solanmua" class="form-control" />

                    </div>
                </div>
                <!--end row-->
                <!--row-->
                <div class="row" style="margin-top:5px;">
                    <div class="col-md-2">Moi</div>
                    <div class="col-md-10">
                        <input type="text" name="moi" class="form-control" />

                    </div>
                </div>
                <!--end row-->

                <!--row-->
                <div class="row" style="margin-top:5px;">
                    <div class="col-md-2">Đã xóa</div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.DaXoa)
                    </div>
                </div>
                <!--end row-->
                <div class="row" style="margin-top:20px;">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            }
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
            @Html.ActionLink("Close", "Index", "QuanLySanPham", new { @class = "btn btn-default" })
        </div>
    </div>
</div>
<script>
    var loadFile = function (event) {
        var image = document.getElementById('output');
        image.src = URL.createObjectURL(event.target.files[0]);
    };
</script>

