@using WebBanHang.Models

@using PagedList.Mvc;
@model PagedList.IPagedList<SanPham>
@{
    ViewBag.Title = "SanPham";
    Layout = "~/Views/Layout/ProductLayout.cshtml";
}
<div style="background-color:white">
    <!--<div class="col-md-3 product-price" style="background-color:white">

        <div class=" rsidebar span_1_of_left">
            <div class="of-left">
                <h3 class="cate">Categories</h3>
            </div>
            <ul class="menu">
                <li class="item1">
                    <a href="#">Men </a>
                    <ul class="cute" style="display: none;">
                        <li class="subitem1"><a href="single.html">Cute Kittens </a></li>
                        <li class="subitem2"><a href="single.html">Strange Stuff </a></li>
                        <li class="subitem3"><a href="single.html">Automatic Fails </a></li>
                    </ul>
                </li>
                <li class="item2">
                    <a href="#">Women </a>
                    <ul class="cute" style="display: none;">
                        <li class="subitem1"><a href="single.html">Cute Kittens </a></li>
                        <li class="subitem2"><a href="single.html">Strange Stuff </a></li>
                        <li class="subitem3"><a href="single.html">Automatic Fails </a></li>
                    </ul>
                </li>
                <li class="item3">
                    <a href="#">Kids</a>
                    <ul class="cute" style="display: none;">
                        <li class="subitem1"><a href="single.html">Cute Kittens </a></li>
                        <li class="subitem2"><a href="single.html">Strange Stuff </a></li>
                        <li class="subitem3"><a href="single.html">Automatic Fails</a></li>
                    </ul>
                </li>
                <li class="item4">
                    <a href="#">Accesories</a>
                    <ul class="cute" style="display: none;">
                        <li class="subitem1"><a href="single.html">Cute Kittens </a></li>
                        <li class="subitem2"><a href="single.html">Strange Stuff </a></li>
                        <li class="subitem3"><a href="single.html">Automatic Fails</a></li>
                    </ul>
                </li>

                <li class="item4">
                    <a href="#">Shoes</a>
                    <ul class="cute" style="display: none;">
                        <li class="subitem1"><a href="product.html">Cute Kittens </a></li>
                        <li class="subitem2"><a href="product.html">Strange Stuff </a></li>
                        <li class="subitem3"><a href="product.html">Automatic Fails </a></li>
                    </ul>
                </li>
            </ul>
        </div>-->

        <!--initiate accordion-->
        <!--<script type="text/javascript">
            $(function () {
                var menu_ul = $('.menu > li > ul'),
                    menu_a = $('.menu > li > a');
                menu_ul.hide();
                menu_a.click(function (e) {
                    e.preventDefault();
                    if (!$(this).hasClass('active')) {
                        menu_a.removeClass('active');
                        menu_ul.filter(':visible').slideUp('normal');
                        $(this).addClass('active').next().stop(true, true).slideDown('normal');
                    } else {
                        $(this).removeClass('active');
                        $(this).next().stop(true, true).slideUp('normal');
                    }
                });

            });
        </script>-->
        <!---->
        <!--<div class="product-middle">

            <div class="fit-top">
                <h6 class="shop-top">Lorem Ipsum</h6>
                <a href="single.html" class="shop-now">SHOP NOW</a>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="sellers">
            <div class="of-left-in">
                <h3 class="tag">Tags</h3>
            </div>
            <div class="tags">
                <ul>
                    <li><a href="#">design</a></li>
                    <li><a href="#">fashion</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">dress</a></li>
                    <li><a href="#">fashion</a></li>
                    <li><a href="#">dress</a></li>
                    <li><a href="#">design</a></li>
                    <li><a href="#">dress</a></li>
                    <li><a href="#">design</a></li>
                    <li><a href="#">fashion</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">dress</a></li>
                </ul>
                <div class="clearfix"></div>

            </div>

        </div>-->
        <!---->
        <!--<div class="product-bottom">
            <div class="of-left-in">
                <h3 class="best">Best Sellers</h3>
            </div>
            <div class="product-go">
                <div class=" fashion-grid">
                    <a href="single.html"><img class="img-responsive " src="images/p1.jpg" alt=""></a>

                </div>
                <div class=" fashion-grid1">
                    <h6 class="best2">
                        <a href="single.html">
                            Lorem ipsum dolor sit
                            amet consectetuer
                        </a>
                    </h6>

                    <span class=" price-in1"> $40.00</span>
                </div>

                <div class="clearfix"> </div>
            </div>
            <div class="product-go">
                <div class=" fashion-grid">
                    <a href="single.html"><img class="img-responsive " src="images/p2.jpg" alt=""></a>

                </div>
                <div class="fashion-grid1">
                    <h6 class="best2">
                        <a href="single.html">
                            Lorem ipsum dolor sit
                            amet consectetuer
                        </a>
                    </h6>

                    <span class=" price-in1"> $40.00</span>
                </div>

                <div class="clearfix"> </div>
            </div>

        </div>
        <div class=" per1">
            <a href="single.html">
                <img class="img-responsive" src="images/pro.jpg" alt="">
                <div class="six1">
                    <h4>DISCOUNT</h4>
                    <p>Up to</p>
                    <span>60%</span>
                </div>
            </a>
        </div>
    </div>-->
    <div class="col-md-12 product1" style="background-color:white">
        <div class=" bottom-product">
            @foreach (var item in Model.OrderBy(n => n.DonGia))
            {
                <div class="col-md-4 bottom-cd simpleCart_shelfItem">
                    <div class="product-at ">
                        <a href="single.html">
                            <img class="img-responsive" src="@Url.Content("~/Content/HinhAnhSP/" + item.HinhAnh)" alt="" style="width:250px; height:250px; ">
                            <div class="pro-grid">
                                <span class="buy-in">Đặt mua</span>
                            </div>
                        </a>
                    </div>
                    <p class="tun">@item.TenSP</p>
                    <a href="@Url.Action("ThemGioHang","GioHang", new {@MaSP=item.MaSP, @strURL=Request.Url.ToString() })" class="item_add"><p class="number item_price"><i> </i>@item.DonGia.Value.ToString("#,##")</p></a>
                </div>
            }
            <div class="clearfix"> </div>
        </div>

    </div>

</div>
<div class="dlink">
        Trang @(Model.PageCount < Model.PageNumber ? 0 :Model.PageNumber)/@Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("SanPham", new { page = page, @MaLoaiSP = ViewBag.MaLoaiSP, @MaNSX = ViewBag.MaNSX }))
    </div>