@using WebBanHang.Models
@model IEnumerable<SanPham>
<div class="content-top-bottom">

    <div class="col-md-6 men">
        <a href="single.html" class="b-link-stripe b-animate-go  thickbox">
            <img class="img-responsive" src="@Url.Content("~/Content/HinhAnhSP/" +Model.ElementAt(0).HinhAnh)" alt="">
            <div class="b-wrapper">
                <h3 class="b-animate b-from-top top-in   b-delay03 ">
                    <span>@Html.Raw(Model.ElementAt(0).CauHinh)</span>
                </h3>
            </div>
        </a>
        <h3>@Model.ElementAt(0).TenSP</h3>

    </div>
    <div class="col-md-6">
        <div class="col-md1 ">
            <a href="single.html" class="b-link-stripe b-animate-go  thickbox">
                <img class="@Url.Content("~/Content/HinhAnhSP/" +Model.ElementAt(1).HinhAnh)" alt="">
                <div class="b-wrapper">
                    <h3 class="b-animate b-from-top top-in1   b-delay03 ">
                        <span>@Html.Raw(Model.ElementAt(1).CauHinh)</span>
                    </h3>
                </div>
            </a>
            <h3>@Model.ElementAt(1).TenSP</h3>
        </div>
        <div class="col-md2">
            <div class="col-md-6 men1">
                <a href="single.html" class="b-link-stripe b-animate-go  thickbox">
                    <img class="@Url.Content("~/Content/HinhAnhSP/" +Model.ElementAt(2).HinhAnh)" alt="">
                    <div class="b-wrapper">
                        <h3 class="b-animate b-from-top top-in2   b-delay03 ">
                            <span>@Html.Raw(Model.ElementAt(2).CauHinh)</span>
                        </h3>
                    </div>
                </a>
                <h3>@Model.ElementAt(2).TenSP</h3>
            </div>
            <div class="col-md-6 men2">
                <a href="single.html" class="b-link-stripe b-animate-go  thickbox">
                    <img class="img-responsive" src="@Url.Content("~/Content/HinhAnhSP/" +Model.ElementAt(3).HinhAnh)" alt="">
                    <div class="b-wrapper">
                        <h3 class="b-animate b-from-top top-in2   b-delay03 ">
                            <span>@Html.Raw(Model.ElementAt(3).CauHinh)</span>
                        </h3>
                    </div>
                </a>
                <h3>@Model.ElementAt(3).TenSP</h3>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="clearfix"> </div>
</div>
